@import url('https://fonts.googleapis.com/css?family=Exo|Exo+2:300,400,500,600,700,900|Ubuntu&display=swap');


.createNewBlog {
    font-family: 'Ubuntu', sans-serif;
    padding: 6em 0;
    text-align: center;    

    h2 {
        margin: 0 0 1.5em 0;
        font-weight: 100;
        font-size: 25px;
        font-family: 'Exo', sans-serif;
        color: #434343;
    }
    .createNewBlogForm {
    	width: 100%;
    	max-width: 500px;
    	margin: auto;
    	input{
    		width: 100%;
    		background: transparent;
    		border: 0;
    		border-bottom: 1px solid;
    		padding: 1em 0.8em;
    		text-align: center;
    		font-size: 15px;
    		font-family: inherit;
    		font-weight: 300;
    		line-height: 1.5;
    		color: inherit;
    		outline: none;
    		&::placeholder {
    			@debug hsla(0, 0%, 100%, 0.5);    			
    		}
    	}
    	.textArea {
    		  margin-top: 20px;
			  width: 100%;
              height: 100px;
			  background: transparent;
			  border-bottom: 1px solid;
    		  padding: 1em 0.8em;
			  border: 0;
			  color: inherit;
			  font-family: inherit;
			  font-size: 15px;
			  font-weight: 300;
    		  line-height: 1.5;
    		  &::placeholder {
    			/*@debug hsla(0, 0%, 100%, 0.5);*/
    		}
    		&::focus {
			    background: none repeat scroll 0 0 #FFFFFF;
			    outline-width: 0;
			    color: #900;
			}
    	}
    	 button {    
            all: unset;
            margin-top: 2.4em;
            background: #2193b0;
            font-family: 'Exo', sans-serif;
            color: #fff;
            border: 2px solid #8395a7;
            padding: 1em 4em;
            border-radius: 50px;
            cursor: pointer;
            display: inline-block;
            font-weight: 700;
            position: relative;
            transition: all 300ms ease;
            span {
                display: inline-block;
                transition: all 300ms ease;
                //z-index: 2;
            }
            &:before, &:after {
                content: "";
                display: block;
                position: absolute;
                transition: all 300ms ease;
                opacity: 0;
            }
            &:before {
                height: 7px;
                width: 7px;
                background: transparent;
                border-right: 2px solid;
                border-top: 2px solid;
                right: 18px; top: 19.6px;
                transform: rotate(45deg);
            }
            &:after {
                background: white;
                height: 3px;
                width: 50px;
                left: 0;
                top: 1.49em;
                //z-index: 1;
            }
            &:hover {
                span {
                    transform: translateX(-10px);
                }
                &:before {
                    opacity: 1;
                }
                &:after {
                    width: 14px;
                    opacity: 1;
                    transform: translateX(160px);                    
                }
            }
        }
    }
}


.containerChkbx {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerChkbx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.containerChkbx:hover input ~ .checkmark {
  background-color: #ccc;
}

.containerChkbx input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerChkbx input:checked ~ .checkmark:after {
  display: block;
}

.containerChkbx .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: pointer !important;
    display: block;
}